<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JoinFS.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="JoinFS.Properties.Settings-CONSOLE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="JoinFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
  </runtime>
  <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <JoinFS.Properties.Settings1>
            <setting name="XPlanePluginAddress" serializeAs="String">
                <value/>
            </setting>
        </JoinFS.Properties.Settings1>
        <JoinFS.Properties.Settings-CONSOLE>
            <setting name="test" serializeAs="String">
                <value/>
            </setting>
        </JoinFS.Properties.Settings-CONSOLE>
        <JoinFS.Properties.Settings>
            <setting name="MigratedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoinAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="MyIp" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value/>
            </setting>
            <setting name="AtcAirport" serializeAs="String">
                <value/>
            </setting>
            <setting name="HubAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="HubName" serializeAs="String">
                <value/>
            </setting>
            <setting name="HubAbout" serializeAs="String">
                <value/>
            </setting>
            <setting name="HubVoIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="HubEvent" serializeAs="String">
                <value/>
            </setting>
            <setting name="AskVersion" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecordingFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastPosition" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="XPlanePluginAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="AskSimConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortBookmarksColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookmarksFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookmarksFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AircraftFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AircraftFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddressBookFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddressBookFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShortcutsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShortcutsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SessionFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SessionFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RecorderFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RecorderFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ObjectsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ObjectsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MonitorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MonitorFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MatchingFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MatchingFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="HubsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HubsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AtcFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AtcFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeIgnoredAircraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSimulatorAircraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeGlobalAircraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortAircraftColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BroadcastTacpack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBroadcast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortAtcColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Euroscope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AtcFrequency" serializeAs="String">
                <value>22800</value>
            </setting>
            <setting name="AtcLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ListIgnoredHubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListOfflineHubs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortHubsColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColourActiveBackground" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColourActiveText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ColourWaitingBackground" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ColourWaitingText" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="ColourInactiveBackground" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColourInactiveText" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="ColourLabel" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="ShortcutNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutSimulator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutAllowShared" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutHandOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutFollow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowBandwidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShareCockpitEveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultipleObjectsEveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortObjectsColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalPortEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>6112</value>
            </setting>
            <setting name="ConnectOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActivityCircle" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Atc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Whazzup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhazzupGlobal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Global" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HubsFormOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookmarksFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AircraftFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AtcFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectsFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecorderFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SessionFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchingFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutsFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionsFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModelScanOnConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommsTextColour" serializeAs="String">
                <value>11, 115, 16</value>
            </setting>
            <setting name="CommsBackColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SortUsersColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNicknames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TCAS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AtcWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhazzupAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCallsign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAltitude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElevationCorrection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FollowDistance" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="XPlane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortcutEnterCockpit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutNetworkKey" serializeAs="String">
                <value>CTRL+N</value>
            </setting>
            <setting name="ShortcutSimulatorKey" serializeAs="String">
                <value>CTRL+S</value>
            </setting>
            <setting name="ShortcutAllowSharedKey" serializeAs="String">
                <value>CTRL+A</value>
            </setting>
            <setting name="ShortcutHandOverKey" serializeAs="String">
                <value>CTRL+H</value>
            </setting>
            <setting name="ShortcutEnterKey" serializeAs="String">
                <value>CTRL+E</value>
            </setting>
            <setting name="ShortcutFollowKey" serializeAs="String">
                <value>CTRL+F</value>
            </setting>
            <setting name="FileFlightPlanOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XPlaneFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EarlyUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskImport" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="GenerateCsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipCsl" serializeAs="String">
                <value>True</value>
            </setting>
        </JoinFS.Properties.Settings>
    </userSettings>
</configuration>
