<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define JoinFS_TargetDir=$(var.JoinFS-SERVER.TargetDir)?>
  <Product Id="*" Name="JoinFS - SERVER" Language="1033" Version="!(bind.FileVersion.AppExe)" Manufacturer="Peter Memmott" UpgradeCode="1EF50D3D-99E1-40F5-A511-1988B7C13753">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of JoinFS is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="AppIcon" SourceFile="$(var.JoinFS-SERVER.ProjectDir)App.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.JoinFS-SERVER.TargetDir)Licence.rtf" />
    <WixVariable Id="WixUIInfoIco" Value="$(var.JoinFS-SERVER.ProjectDir)App.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="JoinFS-SERVER" >
          <Directory Id="FRENCHFOLDER" Name="fr" />
          <Directory Id="DUTCHFOLDER" Name="nl" />
          <Directory Id="ITALIANFOLDER" Name="it" />
          <Directory Id="GERMANFOLDER" Name="de" />
          <Directory Id="RUSSIANFOLDER" Name="ru" />
          <Directory Id="SPANISHFOLDER" Name="es" />
          <Directory Id="KOREANFOLDER" Name="ko" />
		  <Directory Id="PORTUGUESEFOLDER" Name="pt" />
		</Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="JoinFS - SERVER" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationMenuShortcuts" Guid="934F5F6D-51C4-44E8-AE15-72D11BC46470">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="JoinFS - SERVER" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-SERVER.exe" WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="LicenceStartMenuShortcut" Name="Licence" Description="JoinFS Licence And Terms" Target="[INSTALLFOLDER]Licence.rtf" WorkingDirectory="INSTALLFOLDER"/>
        <util:InternetShortcut Id="AboutShortcut" Name="About" Target="http://joinfs.net/"/>
        <util:InternetShortcut Id="ManualShortcut" Name="Manual" Target="http://joinfs.net/manual.html"/>
        <Shortcut Id="UninstallShortcut" Name="Uninstall" Description="Uninstalls JoinFS" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - SERVER" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationDesktopShortcuts" Guid="411E1BC6-920C-4D2E-BECA-D8D9A8522635">
        <Shortcut Id="ApplicationDesktopShortcut" Name="JoinFS - SERVER" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-SERVER.exe" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - SERVER" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AppExe" Guid="0A401191-AD2B-4271-A48F-8AE06CFFCAB7">
        <File Id="AppExe" Name="JoinFS-SERVER.exe" Source="$(var.JoinFS_TargetDir)JoinFS-SERVER.exe" KeyPath="yes" Checksum="yes" />
      </Component>
		<Component Id="AppDll" Guid="5CC020E8-1805-413B-BAE5-4BA88C0209C8">
			<File Id="AppDll" Name="JoinFS-SERVER.dll" Source="$(var.JoinFS_TargetDir)JoinFS-SERVER.dll" KeyPath="yes" />
		</Component>
		<Component Id="AppDeps" Guid="5235B380-03C8-42FC-B646-46EDBA59CF5F">
			<File Id="AppDeps" Name="JoinFS-SERVER.deps.json" Source="$(var.JoinFS_TargetDir)JoinFS-SERVER.deps.json" KeyPath="yes" />
		</Component>
		<Component Id="AppConfig" Guid="0C48706D-47DE-41BC-8599-BA651C97CBA6">
			<File Id="AppConfig" Name="JoinFS-SERVER.runtimeconfig.json" Source="$(var.JoinFS_TargetDir)JoinFS-SERVER.runtimeconfig.json" KeyPath="yes" />
		</Component>
		<Component Id="AppLicence" Guid="BDA5A8D7-7571-4DB9-9F43-F4094352AD4D">
        <File Id="AppLicence" Name="Licence.rtf" Source="$(var.JoinFS_TargetDir)Licence.rtf" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="FRENCHFOLDER">
      <Component Id="FrenchResource" Guid="7964F6E8-8F48-4706-9800-B182B63A6568">
        <File Id="FrenchResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)fr\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DUTCHFOLDER">
      <Component Id="DutchResource" Guid="D58FEEDF-21DE-4AD4-8009-AD98B95A37F8">
        <File Id="DutchResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)nl\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ITALIANFOLDER">
      <Component Id="ItalianResource" Guid="4D227096-FA20-45D6-9AD3-50F877D1325D">
        <File Id="ItalianResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)it\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="GERMANFOLDER">
      <Component Id="GermanResource" Guid="FB0B5A58-B1AE-4C35-B353-17C6537B672D">
        <File Id="GermanResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)de\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="RUSSIANFOLDER">
      <Component Id="RussianResource" Guid="F450E340-2D57-45A4-B99D-27AFFA3C5A1F">
        <File Id="RussianResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)ru\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SPANISHFOLDER">
      <Component Id="SpanishResource" Guid="C4C21800-E422-4196-A706-4D018A5D52A9">
        <File Id="SpanishResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)es\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="KOREANFOLDER">
      <Component Id="KoreanResource" Guid="C6C3C2FD-4000-40EC-92A2-B306A24EEBD4">
        <File Id="KoreanResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)ko\JoinFS-SERVER.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

	<DirectoryRef Id="PORTUGUESEFOLDER">
		<Component Id="PortugueseResource" Guid="1189338B-B979-4790-8A79-3178FEBDDE42">
			<File Id="PortugueseResource" Name="JoinFS-SERVER.resources.dll" Source="$(var.JoinFS_TargetDir)pt\JoinFS-SERVER.resources.dll" KeyPath="yes" />
		</Component>
	</DirectoryRef>

    <Feature Id="ProductFeature" Title="JoinFS - SERVER" Description="Multiplayer across flight simulators" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="FrenchResource" />
      <ComponentRef Id="DutchResource" />
      <ComponentRef Id="ItalianResource" />
      <ComponentRef Id="GermanResource" />
      <ComponentRef Id="RussianResource" />
      <ComponentRef Id="SpanishResource" />
      <ComponentRef Id="KoreanResource" />
	  <ComponentRef Id="PortugueseResource" />
	  <ComponentRef Id="ApplicationMenuShortcuts" />
      <ComponentRef Id="ApplicationDesktopShortcuts" />
    </Feature>

  </Product>

</Wix>
