<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define JoinFS_TargetDir=$(var.JoinFS-XPLANE.TargetDir)?>
  <Product Id="*" Name="JoinFS - XPLANE" Language="1033" Version="!(bind.FileVersion.AppExe)" Manufacturer="Peter Memmott" UpgradeCode="FCAD2E93-A1C3-4A68-B37D-B635C360982D">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of JoinFS is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="AppIcon" SourceFile="$(var.JoinFS-XPLANE.ProjectDir)App.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.JoinFS-XPLANE.TargetDir)Licence.rtf" />
    <WixVariable Id="WixUIInfoIco" Value="$(var.JoinFS-XPLANE.ProjectDir)App.ico" />

    <Condition Message=".NET Framework 4.0 required.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="JoinFS-XPLANE" >
          <Directory Id="FRENCHFOLDER" Name="fr" />
          <Directory Id="DUTCHFOLDER" Name="nl" />
          <Directory Id="ITALIANFOLDER" Name="it" />
          <Directory Id="GERMANFOLDER" Name="de" />
          <Directory Id="RUSSIANFOLDER" Name="ru" />
          <Directory Id="SPANISHFOLDER" Name="es" />
          <Directory Id="KOREANFOLDER" Name="ko" />
		  <Directory Id="PORTUGUESEFOLDER" Name="pt" />
		</Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="JoinFS - XPLANE" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationMenuShortcuts" Guid="A07F5232-E4CB-42F8-8447-B877955F416B">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="JoinFS - XPLANE" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-XPLANE.exe" WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="LicenceStartMenuShortcut" Name="Licence" Description="JoinFS Licence And Terms" Target="[INSTALLFOLDER]Licence.rtf" WorkingDirectory="INSTALLFOLDER"/>
        <util:InternetShortcut Id="AboutShortcut" Name="About" Target="http://joinfs.net/"/>
        <util:InternetShortcut Id="ManualShortcut" Name="Manual" Target="http://joinfs.net/manual.html"/>
        <Shortcut Id="UninstallShortcut" Name="Uninstall" Description="Uninstalls JoinFS" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - XPLANE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationDesktopShortcuts" Guid="E6972471-1925-4343-A02E-DD23435494C5">
        <Shortcut Id="ApplicationDesktopShortcut" Name="JoinFS - XPLANE" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-XPLANE.exe" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - XPLANE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AppSimconnect" Guid="0DBE903C-FCA0-4909-AFCD-B1695D4FAB3B">
        <File Id="AppSimconnect" Name="Microsoft.FlightSimulator.SimConnect.dll" Source="$(var.JoinFS_TargetDir)Microsoft.FlightSimulator.SimConnect.dll" KeyPath="yes" Assembly=".net" AssemblyApplication="AppExe" />
      </Component>
      <Component Id="AppExe" Guid="91288656-0B22-4AA6-95D9-273B5A0BBF68">
        <File Id="AppExe" Name="JoinFS-XPLANE.exe" Source="$(var.JoinFS_TargetDir)JoinFS-XPLANE.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AppConfig" Guid="4E68360D-EAB3-4EE9-B05B-327EC98B00D2">
        <File Id="AppConfig" Name="JoinFS-XPLANE.exe.config" Source="$(var.JoinFS_TargetDir)JoinFS-XPLANE.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="AppLicence" Guid="3FCA701E-8C91-449D-BD75-1D78632C3A45">
        <File Id="AppLicence" Name="Licence.rtf" Source="$(var.JoinFS_TargetDir)Licence.rtf" KeyPath="yes" />
      </Component>
      <Component Id="AppXP64" Guid="46EDEDE0-B601-4C04-B596-B99B14B116AB">
        <File Id="AppXP64" Name="win.xpl" Source="$(var.JoinFS_TargetDir)win.xpl" KeyPath="yes" />
      </Component>
      <Component Id="AppXPLIN" Guid="5C8E544F-C7C2-43AA-A621-8B375AE70667">
        <File Id="AppXPLIN" Name="lin.xpl" Source="$(var.JoinFS_TargetDir)lin.xpl" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="FRENCHFOLDER">
      <Component Id="FrenchResource" Guid="26BEEEBD-DEF7-4026-A95D-EB7B8456BFC9">
        <File Id="FrenchResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)fr\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DUTCHFOLDER">
      <Component Id="DutchResource" Guid="0CCDC054-4593-4FFB-B5EF-601285CFB5DC">
        <File Id="DutchResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)nl\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ITALIANFOLDER">
      <Component Id="ItalianResource" Guid="A16402BD-E451-48DA-8F14-CC006950BF25">
        <File Id="ItalianResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)it\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="GERMANFOLDER">
      <Component Id="GermanResource" Guid="E393A48E-2D9B-462F-93B0-75124F709E3F">
        <File Id="GermanResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)de\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="RUSSIANFOLDER">
      <Component Id="RussianResource" Guid="54308FE3-115E-4258-A9F7-57C34987E346">
        <File Id="RussianResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)ru\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SPANISHFOLDER">
      <Component Id="SpanishResource" Guid="55852976-20C0-4085-97E8-ECD05E97CE97">
        <File Id="SpanishResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)es\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="KOREANFOLDER">
      <Component Id="KoreanResource" Guid="8A90DF3E-634B-4E15-98F0-D2A8470F736B">
        <File Id="KoreanResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)ko\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

	<DirectoryRef Id="PORTUGUESEFOLDER">
		<Component Id="PortugueseResource" Guid="D83C2A79-199E-4551-9546-56C934F5E15E">
			<File Id="PortugueseResource" Name="JoinFS-XPLANE.resources.dll" Source="$(var.JoinFS_TargetDir)pt\JoinFS-XPLANE.resources.dll" KeyPath="yes" />
		</Component>
	</DirectoryRef>

  <Feature Id="ProductFeature" Title="JoinFS - XPLANE" Description="Multiplayer across flight simulators" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="FrenchResource" />
      <ComponentRef Id="DutchResource" />
      <ComponentRef Id="ItalianResource" />
      <ComponentRef Id="GermanResource" />
      <ComponentRef Id="RussianResource" />
      <ComponentRef Id="SpanishResource" />
      <ComponentRef Id="KoreanResource" />
	  <ComponentRef Id="PortugueseResource" />
	  <ComponentRef Id="ApplicationMenuShortcuts" />
      <ComponentRef Id="ApplicationDesktopShortcuts" />
    </Feature>

  </Product>

</Wix>
