<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define JoinFS_TargetDir=$(var.JoinFS-P3DV4.TargetDir)?>
  <Product Id="*" Name="JoinFS - P3DV4" Language="1033" Version="!(bind.FileVersion.AppExe)" Manufacturer="Peter Memmott" UpgradeCode="6208771A-A248-4CA7-8C03-138155D24E36">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of JoinFS is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="AppIcon" SourceFile="$(var.JoinFS-P3DV4.ProjectDir)App.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.JoinFS-P3DV4.TargetDir)Licence.rtf" />
    <WixVariable Id="WixUIInfoIco" Value="$(var.JoinFS-P3DV4.ProjectDir)App.ico" />

    <Condition Message=".NET Framework 4.0 required.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="JoinFS-P3DV4" >
          <Directory Id="FRENCHFOLDER" Name="fr" />
          <Directory Id="DUTCHFOLDER" Name="nl" />
          <Directory Id="ITALIANFOLDER" Name="it" />
          <Directory Id="GERMANFOLDER" Name="de" />
          <Directory Id="RUSSIANFOLDER" Name="ru" />
          <Directory Id="SPANISHFOLDER" Name="es" />
          <Directory Id="KOREANFOLDER" Name="ko" />
		  <Directory Id="PORTUGUESEFOLDER" Name="pt" />
		</Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="JoinFS - P3DV4" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationMenuShortcuts" Guid="485D9116-24F4-4FCA-A790-E8FBB860C959">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="JoinFS - P3DV4" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-P3DV4.exe" WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="LicenceStartMenuShortcut" Name="Licence" Description="JoinFS Licence And Terms" Target="[INSTALLFOLDER]Licence.rtf" WorkingDirectory="INSTALLFOLDER"/>
        <util:InternetShortcut Id="AboutShortcut" Name="About" Target="http://joinfs.net/"/>
        <util:InternetShortcut Id="ManualShortcut" Name="Manual" Target="http://joinfs.net/manual.html"/>
        <Shortcut Id="UninstallShortcut" Name="Uninstall" Description="Uninstalls JoinFS" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - P3DV4" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationDesktopShortcuts" Guid="1E35166F-E40E-4B83-9F40-47E4D7C49AD8">
        <Shortcut Id="ApplicationDesktopShortcut" Name="JoinFS - P3DV4" Description="Multiplayer across flight simulators" Target="[INSTALLFOLDER]JoinFS-P3DV4.exe" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Peter Memmott\JoinFS - P3DV4" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AppSimconnect" Guid="4EC0209A-5581-4138-9CD5-3588EC00D0C5">
        <File Id="AppSimconnect" Name="Microsoft.FlightSimulator.SimConnect.dll" Source="$(var.JoinFS_TargetDir)Microsoft.FlightSimulator.SimConnect.dll" KeyPath="yes" Assembly=".net" AssemblyApplication="AppExe" />
      </Component>
      <Component Id="AppSimconnectDll" Guid="905C30BE-4D7C-4731-A591-7EBB212A134B">
        <File Id="AppSimconnectDll" Name="SimConnect.dll" Source="$(var.JoinFS_TargetDir)SimConnect.dll" KeyPath="yes" />
      </Component>
      <Component Id="AppExe" Guid="1D0CEF42-7469-4267-B33D-8D7F071394D6">
        <File Id="AppExe" Name="JoinFS-P3DV4.exe" Source="$(var.JoinFS_TargetDir)JoinFS-P3DV4.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AppConfig" Guid="A209EDCD-A3AB-40E6-94E4-22649C147412">
        <File Id="AppConfig" Name="JoinFS-P3DV4.exe.config" Source="$(var.JoinFS_TargetDir)JoinFS-P3DV4.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="AppLicence" Guid="0FE3FA7F-2175-456A-BEDA-4E3038F86B86">
        <File Id="AppLicence" Name="Licence.rtf" Source="$(var.JoinFS_TargetDir)Licence.rtf" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="FRENCHFOLDER">
      <Component Id="FrenchResource" Guid="AE8D499A-E682-41BF-B6BC-A0C78607B4E9">
        <File Id="FrenchResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)fr\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DUTCHFOLDER">
      <Component Id="DutchResource" Guid="387C4038-A82B-492D-8A76-5EDE27C4DC31">
        <File Id="DutchResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)nl\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ITALIANFOLDER">
      <Component Id="ItalianResource" Guid="8E638269-44FA-413E-8133-12DED0B724A4">
        <File Id="ItalianResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)it\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="GERMANFOLDER">
      <Component Id="GermanResource" Guid="03554B37-C604-47E8-901B-20C4FF7D6690">
        <File Id="GermanResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)de\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="RUSSIANFOLDER">
      <Component Id="RussianResource" Guid="4B544E32-D35C-47DD-B5D8-72CBE9FE1ABC">
        <File Id="RussianResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)ru\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SPANISHFOLDER">
      <Component Id="SpanishResource" Guid="B0018B3C-00FF-4A97-892B-D6326E433A9B">
        <File Id="SpanishResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)es\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="KOREANFOLDER">
      <Component Id="KoreanResource" Guid="F1EFFD80-2753-4704-AF79-5F68032FB5AC">
        <File Id="KoreanResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)ko\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PORTUGUESEFOLDER">
	  <Component Id="PortugueseResource" Guid="6610AE75-AFEA-4ECC-868A-5855C74591F7">
	    <File Id="PortugueseResource" Name="JoinFS-P3DV4.resources.dll" Source="$(var.JoinFS_TargetDir)pt\JoinFS-P3DV4.resources.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="JoinFS - P3DV4" Description="Multiplayer across flight simulators" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="FrenchResource" />
      <ComponentRef Id="DutchResource" />
      <ComponentRef Id="ItalianResource" />
      <ComponentRef Id="GermanResource" />
      <ComponentRef Id="RussianResource" />
      <ComponentRef Id="SpanishResource" />
      <ComponentRef Id="KoreanResource" />
	  <ComponentRef Id="PortugueseResource" />
	  <ComponentRef Id="ApplicationMenuShortcuts" />
      <ComponentRef Id="ApplicationDesktopShortcuts" />
    </Feature>

  </Product>

</Wix>
